.body{
    background-color: gray;
}

.hover-gradient {
    transition: background-image 0.3s ease;
}
.hover-gradient:hover {
    background-image: linear-gradient(90deg, #FE512E 0%, #F09619 100%);
}
  

.bg-royalgray{
    background-color: #EEF1FD;
}

.custom-scrollbar::-webkit-scrollbar{
    color: #FE512E;
}