.body {
  background-color: gray;
}

.hover-gradient {
  transition: background-image 0.3s ease;
}
.hover-gradient:hover {
  background-image: linear-gradient(90deg, #fe512e 0%, #f09619 100%);
}

.bg-royalgray {
  background-color: #eef1fd;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #a19e9e;
}
::-webkit-scrollbar-thumb {
  background-color: #0e0d0dd0;
  border-radius: 5px;
}


